.user-menu {
    display: flex;
    align-items: center;
}
.register__row {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px 0;
}
.user-mennu__image-wrapper {
    width: 50px;
    margin: 0 10px;
}
.user-mennu__image-wrapper img {
    max-width: 100%;
    max-height: 100%;
}